body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.container {
  display: flex;
  width: 100%;
  position: relative;
  top: 50%;
  margin: 10px 0px 10px 0px;
  align-items: center;
  justify-content: center;
  /*border: 2px white solid;*/
}
.row {
  margin: 10px 0px 0px 0px;
  align-items: center;
  justify-content: center;
}

.flip-card {
  background-color: transparent;
  width: 200px;
  height: 200px;
  /*border: 1px solid #f1f1f1;*/
  perspective: 1000px;
  margin: 20px 10px 20px 10px;
  border-radius: 5px;
}

.flip-card-inner {
  position: relative;
  width: 200px;
  height: 200px;
  text-align: center;
  transition: transform 1.5s ease-in-out;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.col-md-4 {
  width: 200px;
  height: 200px;
  transform: translatex(-14px);
  background-size: cover;
  border-radius: 5px;
}
.col-md-4 img {
  border-radius: 5px;
}

.flip-card-back {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  transform: rotateY(180deg);
}
.flip-card-back img {
  opacity: 20%;
  border-radius: 5px;
}

.card-text {
  text-align: center;
  position: relative;
  bottom: 80%;
}
h1 {
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}
p {
  font-size: 12px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.card-text span:active {
  color: grey;
}
.col-md-4,
.flip-card-back {
  position: absolute;
  width: 200px;
  height: 200px;
  -webkit-backface-visibility: hidden; /* Safari */
  border-radius: 5px;
  backface-visibility: hidden;
}
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
  font-size: 10px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.popup .show {
  visibility: visible;
  animation: fadeOut;
  animation-duration: 4s;
  animation-iteration-count: 1;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
